{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero">

<div class="container">

<div class="row align-items-center">

<!-- Left -->

<div class="col-lg-6">

<p class="hero-top">
👋 Welcome to my Portfolio
</p>

<h1>
Hi, I'm
<br>
<span>Vinay Pratap Singh</span>
</h1>

<h2 id="typing"></h2>

<p class="hero-text">

Passionate Python, Django and AI Developer dedicated to building modern,
responsive and intelligent web applications.

Currently exploring Artificial Intelligence, Generative AI,
Machine Learning and Full Stack Development.

</p>

<div class="mt-4">

<a href="/contact/" class="btn btn-info btn-lg me-3">
Hire Me
</a>

<a href="/resume/" class="btn btn-outline-light btn-lg">
Download CV
</a>

</div>

<div class="hero-icons mt-5">

<a href="https://github.com/vinaysingh555">
<i class="fa-brands fa-github"></i>
</a>

<a href="https://www.linkedin.com/in/vinay-pratap-singh-519466302">
<i class="fa-brands fa-linkedin"></i>
</a>

<a href="mailto:vinaysinghh7976@gmail.com">
<i class="fa-solid fa-envelope"></i>
</a>

</div>

</div>

<!-- Right -->

<div class="col-lg-6 text-center">

<div class="image-box">

<img src="{% static 'images/profile.jpeg' %}"
class="img-fluid profile-img">

</div>

</div>

</div>

</div>

</section>

<script>

const roles=[

"Python Developer",

"AI Developer",

"Web Developer",

"Django Developer",

"Generative AI Enthusiast"

];

let role=0;
let letter=0;
let deleting=false;

function typing(){

let current=roles[role];

if(!deleting){

document.getElementById("typing").innerHTML=current.substring(0,letter++)+"|";

if(letter>current.length){

deleting=true;

setTimeout(typing,1500);

return;

}

}

else{

document.getElementById("typing").innerHTML=current.substring(0,letter--)+"|";

if(letter==0){

deleting=false;

role++;

if(role>=roles.length){

role=0;

}

}

}

setTimeout(typing,deleting?50:120);

}

typing();

</script>

{% endblock %}